---
import Layout from "../../layouts/Layout.astro";
import { getCharactersPage } from "../../lib/character";
import { type Character } from "../../types/charactersApi";
import { getCharacter } from "../../lib/character";

const {id} = Astro.params;

let character: Character | undefined;

if(id) {
    character = await getCharacter(id);
}

export async function getStaticPaths() {
    const characters = await getCharactersPage(1);
    let pages = characters.info.pages;
    let ids = [];

    for (let i = 1; i <= pages*20; i++) {
        ids.push({
            params: { id: i.toString() }
        })
    }

    console.log("ids", ids);

    return ids;
}
---

<Layout title={character?.name ?? ''}></Layout>
    <div class="flex flex-col md:flex-row w-full items-center p-6 max-w-lg mx-auto rounded-lg shadow-md">
        <img src={character?.image} alt={character?.name} class="w-40 h-40 rounded-md md:mr-6 mb-4 md:mb-0" />
        <div class="text-center md:text-left">
            <h2 class="text-xl font-semibold text-white">{character?.name}</h2>
            <p class="text-sm text-white flex flex-row">Status: <p class="text-sm text-gray-600" class:list={[
                character?.status === 'Alive' && 'text-xs w-fit font-semibold mr-2 px-2.5 py-0.5 rounded bg-green-400 text-green-900',
                character?.status === 'Dead' && 'text-xs w-fit font-semibold mr-2 px-2.5 py-0.5 rounded bg-red-400 text-red-900',
                character?.status === 'unknown' && 'text-xs w-fit font-semibold mr-2 px-2.5 py-0.5 rounded bg-gray-400 text-gray-900'
            ]}
            >{character?.status}</p></p>
            <p class="text-sm text-gray-600"><strong>Species:</strong> {character?.species}</p>
            <p class="text-sm text-gray-600"><strong>Gender:</strong> {character?.gender}</p>
        </div>
    </div>
</Layout>