---
import { Status } from '../types/charactersApi';

interface Props {
  img: string;
  name: string;
  status: Status;
  id: number;
}

const { img, name, status, id } = Astro.props;
---

<a
  href={`/launches/${id}`}
  class="aspect-w-1 aspect-h-1 rounded-lg border shadow-md bg-gray-800 border-gray-700
    hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col justify-between"
>
  <picture class="flex justify-center p-4 items-center">
    <img
      class="mb-5 rounded-lg items-center"
      src={img}
      alt={`Patch for launch ${id}`}
    />
  </picture>

  <header class="p-4 flex-grow flex flex-col items-start justify-center">
    <span
      class:list={[
        `text-xs font-semibold mr-2 px-2.5 py-0.5 rounded `,
        {
          "bg-green-400 text-green-900": status === Status.Alive,
          "bg-red-400 text-red-900": status === Status.Dead,
          "bg-gray-400 text-gray-900": status === Status.Unknown,
        },
      ]}
    >
      {status}
    </span>
    <h2 class="my-2 text-xl font-bold tracking-tight text-white">
      {name}
    </h2>
  </header>
</a>
